<%perl>
    # Make a temp directory and file.
    mkdir "/tmp/jbovlaste_export/";
    my $dir = tempdir( DIR => "/tmp/jbovlaste_export/" );
    my ($fh, $filename) = tempfile( DIR => $dir, SUFFIX => ".tex" );

    open(TMP, ">$filename") or die "Couldn't open a temporary file.\n";

    my $langrealname = $dbh->selectrow_array("SELECT realname FROM
	languages WHERE tag=?", undef, $lang);
    my $englishname = $dbh->selectrow_array("SELECT englishname FROM
	languages WHERE tag=?", undef, $lang);
    my $langid = $dbh->selectrow_array("SELECT langId FROM languages WHERE
	tag=?", undef, $lang);
#    my $words = $dbh->selectall_arrayref("SELECT word, meaning, wordId FROM natlangwords WHERE langId=$langid ORDER BY word");
#    my @words = map
#    {
#	my $inword=$_->[2];
#	my $defwords=$dbh->selectall_arrayref("SELECT valsi.word,
#	    pk.place FROM valsi,
#	    placekeywordmapping pk, natlangdefs nld WHERE
#	    pk.wordId=$inword AND
#	    pk.definitionID = nld.definitionID AND
#	    nld.valsiId=valsi.valsiId
#	    ");
#	my @defwords=map
#	{
#	    "\\item $_->[0] place $_->[1]\n"
#	} @{ $defwords };
#
#	"\n\\item [" . $_->[0] . "] " .
#	( $_->[1] ? "in the sense of " . $_->[1] : " in the default sense") .
#	"\n" .
#	( @defwords ?
#	    "\\begin{itemize}\n" .
#	    join("", @defwords) .
#	    "\n\\end{itemize}"
#
#	    : ""
#	)
#    } @{ $words };
#
#    my $joinedwords=join("",@words);

    my $shortfilename=$filename;
    $shortfilename =~ s{/tmp/jbovlaste_export}{/jbovlaste_export};

    # Get the valsi best guesses list.
    my $valsibestguesses = $dbh->selectall_hashref("SELECT v.word, vbg.* from
	valsibestguesses vbg, valsi v WHERE vbg.langid=$langid
	AND v.valsiid=vbg.valsiid
	ORDER BY v.word", "word" );
    #print Dumper( $valsibestguesses );

    my $lojbanToNatLang;
    my @lojbanToNatLangEntries;
    my $natLangToLojban;
    my @natLangToLojbanEntries;

# Print the lojban -> foo section
    our $unofficialwarning = '$\\triangle$ ';
    foreach my $valsirow ( values %{$valsibestguesses} )
    {
	my $convenientDefinition = $dbh->selectrow_hashref("SELECT *
	    FROM convenientdefinitions
	    WHERE definitionid=${$valsirow}{'definitionid'}" );

	my $valsitype = $dbh->selectrow_array("SELECT descriptor
	    FROM valsi v, definitions d, valsitypes vt
	    WHERE v.valsiid = d.valsiid
	    AND d.definitionid = ${$valsirow}{'definitionid'}
	    AND v.typeid=vt.typeid");
#        my $valsitype = "gismu"; # Debug.
	
	my $entry .= "\n\n{\\sffamily\\bfseries ";

        # Alert about non-standard entries
        if ($valsitype eq "experimental gismu" or $valsitype eq "experimental cmavo") { $entry .= $unofficialwarning};
	
        $entry .= massage(${$convenientDefinition}{'word'} ) ."}";

	# \markboth is for the top-of-page markings.
	$entry .= "\\markboth{".
	    massage(${$convenientDefinition}{'word'} ) .
	    "}{" .
	    massage(${$convenientDefinition}{'word'} ) .
	    "}";

	# Clear out silly rafsi spaces
	my $rafsi = massage( ${$convenientDefinition}{'rafsi'} );
	$rafsi =~ s/\s+$//;
	$rafsi =~ s/^\s+//;
	$rafsi =~ s/\s+/ / ;

	if( $rafsi )
	{
	    $entry .= "\\enspace {\\ttfamily\\bfseries[$rafsi]} "
	}
	if( ${$convenientDefinition}{'selmaho'} )
	{
	    $entry .= "\\enspace {\\sffamily\\bfseries[".
		massage(${$convenientDefinition}{'selmaho'})
		."]} "
	}
	$entry .= " " . massage("${$convenientDefinition}{'definition'}");
	if( ${$convenientDefinition}{'notes'} )
	{
	    $entry .= " (".
		massage(${$convenientDefinition}{'notes'})
		.")";
	}

# This doesn't work because etymologies are in their own table.
# Moreover, a definition can have more than one etymology.
#	if( ${$convenientDefinition}{'etymology'} )
#	{
#	    $entry .= " {\\small ".
#		massage(${$convenientDefinition}{'etymology'})
#		."}";
#	}

            $entry = &inserthyphenations($entry);

	push @lojbanToNatLangEntries, $entry;
    }

    foreach my $valsirow ( values %{$valsibestguesses} )
    {
	#print Dumper( $valsirow );
	my $nlwbg = $dbh->selectall_hashref("SELECT nlw.word,
	    nlw.meaning, nlwbg.* from
	    natlangwordbestguesses nlwbg, natlangwords nlw WHERE
	    definitionid=${$valsirow}{'definitionid'}
	    AND nlwbg.natlangwordid = nlw.wordid
	    ORDER BY nlw.word", "word" );
	#print Dumper( $nlwbg );
	foreach my $nlwbgrow (values %{$nlwbg} )
	{
	    my $entry .= "\n\n{\\sffamily\\bfseries ". massage(${$nlwbgrow}{'word'}) ."} ";

	    # \markboth is for the top-of-page markings.
	    $entry .= "\\markboth{". massage(${$nlwbgrow}{'word'}) 
		."}{". massage(${$nlwbgrow}{'word'}) ."}";

	    if( ${$nlwbgrow}{'meaning'} )
	    {
		$entry .= "\\textit{(".
		    massage(${$nlwbgrow}{'meaning'})
		    .")} ";
	    }

	    my $defvalsi = $dbh->selectrow_array("SELECT word
	    FROM valsi v, definitions d WHERE v.valsiid = d.valsiid
	    AND d.definitionid = ${$nlwbgrow}{'definitionid'}");
		
	    #my $defvalsitype = $dbh->selectrow_array("SELECT descriptor
	    #FROM valsi v, definitions d, valsitypes vt
	    #WHERE v.valsiid = d.valsiid
	    #AND d.definitionid = ${$nlwbgrow}{'definitionid'}
	    #AND v.typeid=vt.typeid");

	    $entry .= " " . massage($defvalsi);

	    #if( $defvalsitype eq "gismu" )
	    #{
		if( ${$nlwbgrow}{'place'} > 0 )
		{
		#    $entry .= ", gloss word";
		#} else {
		    $entry .= ", place ${$nlwbgrow}{'place'}";
		}
	    #}

            $entry = &inserthyphenations($entry);

	    push @natLangToLojbanEntries, $entry;
	    #print Dumper( $nlwbgrow );
	}
    }

   sub dictcollate {
     my $to_be_ignored = $unofficialwarning;
     my $temp_a = $a;
     my $temp_b = $b;
     $temp_a =~ s/\Q$to_be_ignored\E//;
     $temp_b =~ s/\Q$to_be_ignored\E//;
     lc($temp_a) cmp lc($temp_b);
   }

    $lojbanToNatLang = join('', sort dictcollate @lojbanToNatLangEntries);
    $natLangToLojban = join('', sort dictcollate @natLangToLojbanEntries);

    #print Dumper($lojbanToNatLang);
    #print Dumper($natLangToLojban);

    print TMP q(
%!TEX encoding = UTF-8 Unicode
%!TEX TS-program = xelatex
\documentclass[notitlepage,twocolumn,a4paper,10pt]{book}

\usepackage{underscore}

\usepackage{fancyhdr} % important, lets us actually pull this stuff off.
\pagestyle{fancy}     % turns on the magic provided by fancyhdr

% This currently fails with a stack overflow.  This is *probably* a
% problem interacting with other packages, but maybe not; it would
% need testing.  It might be that wrapping all of the bits in each
% language with \textrussian or \textenglish or whatever so that
% polyglossia doesn't have to guess would solve the problem, and in
% any case that's the right thing to do with polyglossia anyway, but
% it's a lot of work.  See
% http://www.math.washington.edu/tex-archive/macros/xetex/latex/polyglossia/polyglossia.pdf
% for some details.
%
% \usepackage{polyglossia}

% \setdefaultlanguage{). lc($englishname) . q(}

% Packages from http://linuxlibertine.sourceforge.net/Libertine-XeTex-EN.pdf
%\usepackage[utf8]{inputenc} % not needed by XeTex
\usepackage{xunicode} % for XeTeX!
\usepackage{fontspec} % for XeTeX!
\usepackage{xltxtra} % for XeTeX!

\usepackage{fontspec}

% Font definitions mostly from http://linuxlibertine.sourceforge.net/Libertine-XeTex-EN.pdf
\defaultfontfeatures{Scale=MatchLowercase}% to adjust all used fonts to the same x−height
\setromanfont[Mapping=tex−text]{Linux Libertine O}
\setsansfont[Mapping=tex−text]{Linux Biolinum O}
%\setmonofont[Mapping=tex−text]{Liberation Mono}
%\setmonofont[Mapping=tex−text, Scale=0.9]{Courier New}

%% Formatting, mostly from http://linuxlibertine.sourceforge.net/Libertine-XeTex-EN.pdf , not working
%\setlength{\marginparwidth}{0cm}
%\setlength{\oddsidemargin}{0cm}
%\setlength{\evensidemargin}{0cm}
%\setlength{\textwidth}{15cm}
%\setlength{\textheight}{24cm}
%%\setlength{\topmargin}{−1cm}
%\setlength{\parindent}{0pt}

\fancyhead{}          % empty out the header
\fancyfoot{}          % empty out the footer
\fancyhead[LE,LO]{\rightmark} % left side, odd and even pages
\fancyhead[RE,RO]{\leftmark}  % right side, odd and even pages
\fancyfoot[LE,RO]{\thepage}   % left side even, right side odd

\setlength{\parindent}{1 em}

\title{). $langrealname . q( To lojban and lojban To ). $langrealname .q( Dictionary}
\author{Lojbanic Community}
\date{\today}

\begin{document}

\maketitle

\chapter{lojban to ). $langrealname .q(}).
$lojbanToNatLang. q(

\chapter{). $langrealname .q( to lojban}).
$natLangToLojban. q(

\end{document}
);
#$joinedwords

    close( TMP );

    chdir $dir;

    my $output = qx{cd $dir ; HOME=/tmp/jbovlaste_export/ xelatex $filename 2>&1};

    # print "<pre>In dir $dir, ran xelatex $filename with output: $output\n\n****</pre>\n";

    # Get the xelatex generated file's name.
    my $pdffilename=$shortfilename;
    $pdffilename =~ s/.tex$/.pdf/;

    sub inserthyphenations{
    # Suggest LaTeX linebreak points after slashes.
        my ($line) = @_;
        while( s#(^\{[^{}]\}.*)/#/\\linebreak[0]#g ) {};
        return $line;
    }

    sub massage
    {
	my $input=shift(@_);
        # Protect special characters
	$input =~ s/([&%#\\])/\\$1/g;

        # Allow breaking at /
        # FIXME: There's probably a better way to do this (breaking
        # at slash)
	$input =~ s{/}{/\\-}g;
	return $input;
    }

</%perl>

<a href="http://jbovlaste.lojban.org<% $shortfilename %>">Here's your dictionary in LaTeX.</a>

<a href="http://jbovlaste.lojban.org<% $pdffilename %>">Here's your dictionary in PDF.</a>

<%shared>
    our $titlestr;
</%shared>

<%method title>
    Lojban Printable Dictionary Generation
</%method>

<%init>
    our($dbh);
    use File::Temp qw{ tempfile tempdir };
    use POSIX;
    use Data::Dumper;
</%init>

<%args>
    $lang => undef
</%args>
