<%perl>
 my $langs = $dbh->selectall_arrayref("SELECT tag,realname FROM languages WHERE langid>0 ORDER BY realname");
 my @langs = map { $_->[0] } @{ $langs };
 my %mapping = map { $_->[0] => $_->[1] } @{ $langs };
 my @langshtml;

 my $format = '<a href="latex-export.html?lang=%s">%s</a>';
 foreach my $curlang (@langs) {
   my $vislang = $mapping{$curlang};
   $vislang =~ s/\s+/&nbsp;/g;
   my $html = sprintf($format,
                      &utils::armorurl($curlang),
                      $vislang);
   push @langshtml, $html;
 }
</%perl>

<p>
<font size="+1" color="red"><strong>Warning:</strong></font> If there
are a lot of entries, these will take a <em>long</em> time to generate,
as it's all being done on the fly.  Please be patient.
</p>

<font size="+3">Generate A Dictionary To/From Lojban And:</font>
<ul>
<li>
<% join("</li><li>",@langshtml) %>
</li>
</ul>

<%shared>
our $titlestr;
</%shared>

<%method title>
Word Listings: <% $titlestr %>
</%method>

<%init>
 our($dbh);
 use POSIX;
</%init>
