<%perl>

    # INPUT: $dbh, $lang

    binmode STDOUT, ':utf8';
    binmode STDERR, ':utf8';

    mkdir "/tmp/jbovlaste_export/";
    my $dir = tempdir(DIR => "/tmp/jbovlaste_export/");

    my ($filename, $latex_output) = generate_latex_file($dir, $dbh, $lang);
    my $pdf_output = generate_pdf_file($dir, $filename);

    my $shortfilename = $filename;
    $shortfilename =~ s{/tmp/jbovlaste_export}{/jbovlaste_export};
    my $pdffilename = $shortfilename;
    $pdffilename =~ s/.tex$/.pdf/;

    # OUTPUT: $shortfilename, $pdffilename

    ####

    sub generate_latex_file {
        my ($dir, $dbh, $lang) = @_;
        my ($fh, $filename) = tempfile(DIR => $dir, SUFFIX => ".tex");
        my $latex = generate_latex($dbh, $lang);
        write_file($filename, $latex);
        return ($filename, $latex);
    }

    sub write_file {
        my ($filename, $content) = @_;
        open(TMP, '>:utf8', $filename) or die "couldn't open a temporary file.\n";
        print TMP $content;
        close(TMP);
    }

    sub generate_pdf_file {
        my ($dir, $filename) = @_;
        chdir $dir;
        my $output = qx{cd $dir ; HOME=/tmp/jbovlaste_export/ xelatex -halt-on-error $filename 2>&1};
	return $output;
    }

</%perl>

<a href="<% $shortfilename %>">Here's your dictionary in LaTeX.</a>

<a href="<% $pdffilename %>">Here's your dictionary in PDF.</a>

<%perl>
	my @output_lines = split(/\n/, $pdf_output);
	use List::MoreUtils qw(uniq);

        # The intent here is to match LaTeX errors; from
        # http://latex.silmaril.ie/formattinginformation/errmsg.html#errs
        # "Error messages begin with an exclamation mark at the
        # start of the line, and give a description of the error,
        # followed by another line starting with the number".  We're
        # matching on the number, which actually is prepended with
        # "l.".  Example:
        #
        #    ! Undefined control sequence.
        #    l.6 \tableofcotnetns
	my @bad_lines = uniq(grep(/^l\.[0-9]/, @output_lines));

	if( @bad_lines ) {
		print "<p>PDF GENERATION PROBABLY FAILED.</p>\n";
		my $short_output = join("\n", @output_lines[-40..-1]);
		print "<!-- <pre>In dir $dir, ran xelatex $filename with output: $pdf_output\n\n****</pre> -->\n";
		print "<p>Here's several lines of context for each line that appears to have an error:<p>\n";
                print "<p>Note that the real issue is often at the end of the last line of real data *before* the problem line; you should check there first.</p>\n";
                foreach my $bad_line (@bad_lines) {
			my $bad_line_number = $bad_line;
			$bad_line_number =~ s/^l\.([0-9]+).*/$1/;
			my @latex_lines = split(/\n/, $latex_output);
			print "<p>Line $bad_line_number, +/- 5:</p>\n";
			print "<hr/>\n";
			my $latex_badness = "";
			$latex_badness .= "    " . join("\n    ", @latex_lines[($bad_line_number-5)..$bad_line_number]) . "\n";
			$latex_badness .= "^^^ " .  $latex_lines[$bad_line_number+1] . "\n";
			$latex_badness .= "    " . join("\n    ", @latex_lines[($bad_line_number+2)..($bad_line_number+6)]) . "\n";
			print "<pre>$latex_badness</pre>\n";
			print "<hr/>\n";
		}
		print "<p>Here's the end of the output from the PDF generation; this can be helpful in spotting errors.  You can see the complete output by viewing the source of this page and searching for \"with output:\".</p>\n<pre>$short_output</pre>";
	}
</%perl>

<%shared>
    our $titlestr;
</%shared>

<%method title>
    Lojban Printable Dictionary Generation
</%method>

<%init>
    our($dbh);
    use File::Temp qw{ tempfile tempdir };
    use POSIX;
    use JbovlasteLaTeX qw { generate_latex };
</%init>

<%args>
    $lang => undef
</%args>
