<%perl>
    # Make a temp directory and file.
    mkdir "/tmp/jbovlaste_export/";
    my $dir = tempdir( DIR => "/tmp/jbovlaste_export/" );
    my ($fh, $filename) = tempfile( DIR => $dir, SUFFIX => ".tex" );

    open(TMP, ">$filename") or die "Couldn't open a temporary file.\n";

    my $langrealname = $dbh->selectrow_array("SELECT realname FROM
	languages WHERE tag=?", undef, $lang);
    my $langid = $dbh->selectrow_array("SELECT langId FROM languages WHERE
	tag=?", undef, $lang);
#    my $words = $dbh->selectall_arrayref("SELECT word, meaning, wordId FROM natlangwords WHERE langId=$langid ORDER BY word");

    my $shortfilename=$filename;
    $shortfilename =~ s{/tmp/jbovlaste_export}{/jbovlaste_export};

    # Get the valsi best guesses list.
    my $valsibestguesses = $dbh->selectall_hashref("SELECT v.word, vbg.* from
	valsibestguesses vbg, valsi v WHERE vbg.langid=$langid
	AND v.valsiid=vbg.valsiid
	ORDER BY v.word", "word" );

    my $lojbanToNatLang;
    my @lojbanToNatLangEntries;
    my $natLangToLojban;
    my @natLangToLojbanEntries;

# Print the lojban -> foo section
    our $unofficialwarning = '$\\triangle$ ';
    foreach my $valsirow ( values %{$valsibestguesses} )
    {
	my $convenientDefinition = $dbh->selectrow_hashref("SELECT *
	    FROM convenientdefinitions
	    WHERE definitionid=${$valsirow}{'definitionid'}" );

	my $valsitype = $dbh->selectrow_array("SELECT descriptor
	    FROM valsi v, definitions d, valsitypes vt
	    WHERE v.valsiid = d.valsiid
	    AND d.definitionid = ${$valsirow}{'definitionid'}
	    AND v.typeid=vt.typeid");
#        my $valsitype = "gismu"; # Debug.
	
	my $entry .= "\n\n{\\sffamily\\bfseries ";

        # Alert about non-standard entries
        if ($valsitype eq "experimental gismu" or $valsitype eq "experimental cmavo") { $entry .= $unofficialwarning};
	
        $entry .= escapeall(${$convenientDefinition}{'word'} ) ."}";

	# \markboth is for the top-of-page markings.
	$entry .= "\\markboth{".
	    escapeall(${$convenientDefinition}{'word'} ) .
	    "}{" .
	    escapeall(${$convenientDefinition}{'word'} ) .
	    "}";

	# Clear out silly rafsi spaces
	my $rafsi = escapeall( ${$convenientDefinition}{'rafsi'} );
        $rafsi = compact($rafsi);

	if( $rafsi )
	{
	    $entry .= "\\enspace {\\ttfamily\\bfseries[$rafsi]} "
	}
	if( ${$convenientDefinition}{'selmaho'} )
	{
	    $entry .= "\\enspace {\\sffamily\\bfseries[".
		escapeall(${$convenientDefinition}{'selmaho'})
		."]} "
	}
	$entry .= " " . escapetex("${$convenientDefinition}{'definition'}", $lang);
	if( ${$convenientDefinition}{'notes'} )
	{
	    $entry .= " (".
		escapeall(${$convenientDefinition}{'notes'})
		.")";
	}

	push @lojbanToNatLangEntries, $entry;
    }

    foreach my $valsirow ( values %{$valsibestguesses} )
    {
	my $nlwbg = $dbh->selectall_hashref("SELECT nlw.word,
	    nlw.meaning, nlwbg.* from
	    natlangwordbestguesses nlwbg, natlangwords nlw WHERE
	    definitionid=${$valsirow}{'definitionid'}
	    AND nlwbg.natlangwordid = nlw.wordid
	    ORDER BY nlw.word", "word" );
	foreach my $nlwbgrow (values %{$nlwbg} )
	{
	    my $entry .= "\n\n{\\sffamily\\bfseries ". escapeall(${$nlwbgrow}{'word'}) ."} ";

	    # \markboth is for the top-of-page markings.
	    $entry .= "\\markboth{". escapeall(${$nlwbgrow}{'word'}) 
		."}{". escapeall(${$nlwbgrow}{'word'}) ."}";

	    if( ${$nlwbgrow}{'meaning'} )
	    {
		$entry .= "\\textit{(".
		    escapeall(${$nlwbgrow}{'meaning'})
		    .")} ";
	    }

	    my $defvalsi = $dbh->selectrow_array("SELECT word
	    FROM valsi v, definitions d WHERE v.valsiid = d.valsiid
	    AND d.definitionid = ${$nlwbgrow}{'definitionid'}");
		

	    $entry .= " " . escapeall($defvalsi);

            if( ${$nlwbgrow}{'place'} > 0 )
            {
                $entry .= ", place ${$nlwbgrow}{'place'}";
            }

	    push @natLangToLojbanEntries, $entry;
	}
    }

    $lojbanToNatLang = join('', sort dictcollate @lojbanToNatLangEntries);
    $natLangToLojban = join('', sort dictcollate @natLangToLojbanEntries);

    print TMP q(
%!TEX encoding = UTF-8 Unicode
%!TEX TS-program = xelatex
\documentclass[notitlepage,twocolumn,a4paper,10pt]{book}

\usepackage{underscore}

\usepackage{fancyhdr} % important, lets us actually pull this stuff off.
\pagestyle{fancy}     % turns on the magic provided by fancyhdr

% Packages from http://linuxlibertine.sourceforge.net/Libertine-XeTex-EN.pdf
\usepackage{xunicode} % for XeTeX!
\usepackage{fontspec} % for XeTeX!
\usepackage{xltxtra} % for XeTeX!

\usepackage{fontspec}

% Font definitions mostly from http://linuxlibertine.sourceforge.net/Libertine-XeTex-EN.pdf
\defaultfontfeatures{Scale=MatchLowercase}% to adjust all used fonts to the same x-height
\setromanfont[Mapping=tex-text]{Linux Libertine O}
\setsansfont[Mapping=tex-text]{Linux Biolinum O}

\usepackage{xeCJK}
\setCJKmainfont[Mapping=tex-text]{Code2000}

\fancyhead{}          % empty out the header
\fancyfoot{}          % empty out the footer
\fancyhead[LE,LO]{\rightmark} % left side, odd and even pages
\fancyhead[RE,RO]{\leftmark}  % right side, odd and even pages
\fancyfoot[LE,RO]{\thepage}   % left side even, right side odd

\setlength{\parindent}{1 em}

\title{). escapeall($langrealname) . q( To lojban and lojban To ). escapeall($langrealname) .q( Dictionary}
\author{Lojbanic Community}
\date{\today}

\begin{document}

\maketitle

\chapter{lojban to ). escapeall($langrealname) .q(}).
$lojbanToNatLang. q(

\chapter{). escapeall($langrealname) .q( to lojban}).
$natLangToLojban. q(

\end{document}
);
#$joinedwords

    close( TMP );

    chdir $dir;

    my $output = qx{cd $dir ; HOME=/tmp/jbovlaste_export/ xelatex $filename 2>&1};

    print "<!-- <pre>In dir $dir, ran xelatex $filename with output: $output\n\n****</pre> -->\n";

    # Get the xelatex generated file's name.
    my $pdffilename=$shortfilename;
    $pdffilename =~ s/.tex$/.pdf/;

    sub dictcollate {
      my $to_be_ignored = $unofficialwarning;
      my $temp_a = $a;
      my $temp_b = $b;
      $temp_a =~ s/\Q$to_be_ignored\E//;
      $temp_b =~ s/\Q$to_be_ignored\E//;
      lc($temp_a) cmp lc($temp_b);
    }

    sub escapeall {
      my $term = shift;
      $term =~ s/\\/\\textbackslash{}/g;
      $term =~ s/(?<!\\textbackslash)([{])/\\$1/g;
      $term =~ s/(?<!\\textbackslash{)([}])/\\$1/g;
      $term =~ s/\~/\\textasciitilde{}/g;
      $term =~ s/\^/\\textasciicircum{}/g;
      $term =~ s{/}{\\slash{}}g;
      $term =~ s/([#%&$_])/\\$1/g;
      return $term;
    }

    # allow $ _ {} ^ (used in tex definitions)
    sub escapetex {
      my $term = shift;
      $term =~ s/\\/\\textbackslash{}/g;
      $term =~ s/\~/\\textasciitilde{}/g;
      if ($lang eq 'art-guaspi') {
        $term =~ s/\^/\\textasciicircum{}/g;
      }
      $term =~ s{/}{\\slash{}}g;
      $term =~ s/([#%&])/\\$1/g;
      return $term;
    }

    sub compact {
      my $text = shift;
      $text =~ s/\s+$//;
      $text =~ s/^\s+//;
      $text =~ s/\s+/ / ;
      return $text;
    }

</%perl>

<a href="<% $shortfilename %>">Here's your dictionary in LaTeX.</a>

<a href="<% $pdffilename %>">Here's your dictionary in PDF.</a>

<%shared>
    our $titlestr;
</%shared>

<%method title>
    Lojban Printable Dictionary Generation
</%method>

<%init>
    our($dbh);
    use File::Temp qw{ tempfile tempdir };
    use POSIX;
</%init>

<%args>
    $lang => undef
</%args>
