<%shared>
our $titlestr;
</%shared>

<%method title>
Lojban XML Dictionary Generation
</%method>

<%args>
$lang => undef
$recaptcha_challenge_field => undef
$recaptcha_response_field => undef
$bot_key => undef
</%args>

<%init>
our($dbh,%session);
use File::Temp qw{ tempfile tempdir };
use POSIX;
use Captcha::reCAPTCHA;

my $c = Captcha::reCAPTCHA->new;
</%init>

% if( ! defined($session{'userid'}) && ! defined($recaptcha_response_field) && $bot_key ne 'z2BsnKYJhAB0VNsl' ) {
<html><head></head>
<body>
<h1>Login To Skip This Step</h1>
<form method="post" action="xml-export.html">
  <input type="hidden" name="lang" value="<% $lang %>" />
<%perl>
# Don't bother making logged in users captcha
if( ! defined($session{'userid'}) ) {
    # reCaptcha Output form
    # Public key
    print $c->get_html_v2( '6Lf1RwAAAAAAANZIsJS0Ra-ycdARlCNMTzOkkC-v' );
}
</%perl>
  <input type="submit" />
</form>
</body>
</html>

<%perl>
 } else {
    my $result;

    # Verify submission
    # Don't bother making logged in users captcha
    if( ! defined($session{'userid'}) && $bot_key ne 'z2BsnKYJhAB0VNsl' ) {
	$result = $c->check_answer_v2(
	    # Private key
	    '6Lf1RwAAAAAAAP6IcWCSHjdtZ5yh1y2muHE7f1Zy', $ENV{'REMOTE_ADDR'},
	    $recaptcha_challenge_field, $recaptcha_response_field
	);
    }

    if ( $bot_key eq 'z2BsnKYJhAB0VNsl' || $result->{is_valid} || defined($session{'userid'}) ) {
      my $langid = $dbh->selectrow_array("SELECT langId FROM languages WHERE
          tag=?", undef, $lang);

      if( $langid !~ m{^[0-9]+$} ) {
	</%perl>
	<font size="+3">
        Bad language tag '<% $lang %>'.
	</font>
	<%perl>
        return;
      }

      $r->content_type('application/xml; charset=utf-8');

      our $unofficialwarning = 'unofficial="true" ';
      my $langrealname = $dbh->selectrow_array("SELECT realname FROM
          languages WHERE tag=?", undef, $lang);

      print qq{<?xml version="1.0" encoding="UTF-8"?>\n};
      print qq{<?xml-stylesheet type="text/xsl" href="jbovlaste.xsl"?>\n};
      print qq{<dictionary>\n};

      my $keywords = fetchkeywords($dbh, $langid);

      # Print the lojban -> foo section
      my $sth = selectvalsi($dbh, $langid);
      print qq{<direction from="lojban" to="$langrealname">};
      while(defined(my $valsirow=$sth->fetchrow_hashref))
      {
          my $tag = valsitag($valsirow, $keywords);
          print "$tag\n";
      }
      print qq{</direction>};

      # Print the foo -> lojban section
      print qq{<direction from="$langrealname" to="lojban">};
      $sth = selectwords($dbh, $langid);
      while(defined(my $nlwordrow = $sth->fetchrow_hashref)) {
          my $tag = nlwordtag($nlwordrow);
          print "$tag\n";
      }
      print qq{</direction>};

      print qq{</dictionary>\n};

      ####

      sub fetchkeywords {
          my ($dbh, $langid) = @_;

          my $sth = selectkeywords($dbh, $langid);
          my %keywords;
          while(defined(my $kwrow = $sth->fetchrow_hashref)) {
              my $definitionid = $kwrow->{'definitionid'};
              $keywords{$definitionid} ||= [];
              push @{$keywords{$definitionid}}, $kwrow;
          }
          return \%keywords;
      }

      sub selectkeywords {
          my ($dbh, $langid) = @_;

          my $sth = $dbh->prepare("
            SELECT vbg.definitionid, nlw.word, nlw.meaning, km.place
            FROM valsibestguesses vbg
            JOIN keywordmapping km
              ON km.definitionid = vbg.definitionid
            JOIN natlangwords nlw
              ON nlw.wordid = km.natlangwordid
            WHERE vbg.langid=$langid
            ORDER BY vbg.definitionid, km.place, nlw.word, nlw.meaning
            ");
          $sth->execute();

          return $sth;
      }

      # Get the valsi best guesses list.
      sub selectvalsi {
        my ($dbh, $langid) = @_;

        # Get the valsi best guesses list.
        my $sth = $dbh->prepare("
            SELECT v.word, vbg.definitionid, c.rafsi, c.selmaho, c.definition, c.notes, t.descriptor, u.username, u.realname
            FROM valsibestguesses vbg
            JOIN valsi v
              ON v.valsiid = vbg.valsiid
            JOIN convenientdefinitions c
              ON c.definitionid = vbg.definitionid
            JOIN valsitypes t
              ON t.typeid = v.typeid
            JOIN users u
              ON u.userid = c.userid
            WHERE vbg.langid=$langid
            ORDER BY v.word");
        $sth->execute();

        return $sth;
      }

      sub selectwords {
          my ($dbh, $langid) = @_;

          my $sth = $dbh->prepare("
            SELECT nlw.word, nlw.meaning, v.word AS valsi, nlwbg.place
            FROM valsibestguesses vbg
            JOIN valsi v
              ON v.valsiid = vbg.valsiid
            JOIN natlangwordbestguesses nlwbg
              ON nlwbg.definitionid = vbg.definitionid
            JOIN natlangwords nlw
              ON nlw.wordid = nlwbg.natlangwordid
            WHERE vbg.langid=$langid
            ORDER BY valsi, nlw.word, nlw.meaning, nlwbg.place
            ");
          $sth->execute();

          return $sth;
      }

      sub valsitag {
          my ($valsirow, $keywords) = @_;

          my $tag .= "<valsi ";
          my $valsitype = $valsirow->{'descriptor'};
          if ($valsitype =~ /^(experimental|obsolete)/) {
            $tag .= $unofficialwarning;
          };
          $tag .= qq{word="}.$valsirow->{'word'}.qq{" type="$valsitype"};
          $tag .= ">";

          my $rafsis = massage( $valsirow->{'rafsi'} );
          $rafsis =~ s/\s+$//;
          $rafsis =~ s/^\s+//;
          $rafsis =~ s/\s+/ / ;
          if( $rafsis ) {
              foreach my $rafsi (split(/ /, $rafsis)) {
                  $tag .= "\n  <rafsi>$rafsi</rafsi>";
              }
          }

          if( $valsirow->{'selmaho'} ) {
              $tag .= "\n  <selmaho>" .
                massage($valsirow->{'selmaho'})
                . "</selmaho>";
          }

          $tag .= "\n  <user>" .
            "\n    <username>" .
            massage("$valsirow->{'username'}") .
            "</username>";
          if( $valsirow->{'realname'} )
          {
              $tag .= "\n    <realname>" .
                massage("$valsirow->{'realname'}") .
                "</realname>";
          }
          $tag .= "\n  </user>";

          my $definitionid = $valsirow->{'definitionid'};
          $tag .= "\n  <definition>" .
            massage("$valsirow->{'definition'}") .
            "</definition>".
            "\n  <definitionid>$definitionid</definitionid>";

          if( $valsirow->{'notes'} ) {
              $tag .= "\n  <notes>".
                massage($valsirow->{'notes'})
                ."</notes>";
          }

          if( exists $keywords->{$definitionid} ) {
              foreach my $keyword (sort {$a->{'place'} <=> $b->{'place'}} @{$keywords->{$definitionid}}) {
                  if ($keyword->{'place'} == 0) {
                      my $gwtag = glosswordtag($keyword);
                      $tag .= "\n  $gwtag";
                  }
                  else {
                      my $kwtag = keywordtag($keyword);
                      $tag .= "\n  $kwtag";
                  }
              }
          }

          $tag .= "\n</valsi>";

          return $tag;
      }

      sub nlwordtag {
          my $nlwrow = shift;

          my $tag .= "<nlword word=\"".
            massage($nlwrow->{'word'}) ."\"";

          if($nlwrow->{'meaning'} ) {
              $tag .= " sense=\"".
                massage($nlwrow->{'meaning'})
                ."\"";
          }

          $tag .= " valsi=\"" .
            massage($nlwrow->{'valsi'})
            . "\"";

          if($nlwrow->{'place'} > 0 ) {
              $tag .= " place=\"$nlwrow->{'place'}\"";
          }

          $tag .= " />";

          return $tag;
      }

      sub glosswordtag {
          my $keyword = shift;

          my $tag = "<glossword word=\"".
            massage($keyword->{'word'})
            ."\"";

          if ($keyword->{'meaning'}) {
              $tag .= " sense=\"".
                massage($keyword->{'meaning'}).
                "\""
          }

          $tag .= " />";

          return $tag;
      }

      sub keywordtag {
          my $keyword = shift;

          my $tag .= "<keyword word=\"".
            massage($keyword->{'word'})
            ."\" place=\"".
            $keyword->{'place'} .
            "\"";

          if ($keyword->{'meaning'}) {
              $tag .= " sense=\"".
                massage($keyword->{'meaning'}).
                "\""
          }

          $tag .= " />";

          return $tag;
      }

      sub dictcollate {
          my $to_be_ignored = $unofficialwarning;
          my $temp_a = $a;
          my $temp_b = $b;
          $temp_a =~ s/\Q$to_be_ignored\E//;
          $temp_b =~ s/\Q$to_be_ignored\E//;
          lc($temp_a) cmp lc($temp_b);
      }

      sub massage
      {
          my $input=shift(@_);
          $input =~ s/\&/\&amp;/g;  # This one *must* go first, or it'll redo the others
          $input =~ s/"/\&quot;/g;
          $input =~ s/'/\&apos;/g;
          $input =~ s/</\&lt;/g;
          $input =~ s/>/\&gt;/g;
          return $input;
      }
    } else {
	</%perl>
	<font size="+3">
	Captcha failed.
	</font>
	<%perl>

    }
}

</%perl>
