<%args>
$meaning => undef
$notes => undef
$wordid => undef
$valid => undef
</%args>

<%init>
 our(%session,$dbh);
 my $word = $dbh->selectrow_array("SELECT word FROM natlangwords where
 wordid=$wordid");
 my $lang = $dbh->selectrow_array("SELECT tag FROM languages l,
 natlangwords nlw where nlw.wordid=$wordid AND l.langid=nlw.langid");
</%init>

<%shared>
 our $titlestr;
</%shared>

<%method title>
<% $titlestr %>
</%method>

% unless(defined($session{'username'})) {
<font size="+3">Not logged in</font>
<hr />
Sorry, you've got to be logged in to edit words.
%   $titlestr = "Not logged in";
%   return;
% }

% unless(defined($lang)) {
<font size="+3">Must specify a language</font>
<hr />
A language hasn't been specified.
%   $titlestr = "Must specify a language";
%   return;
% }

<font size="+3">Editing Natural Language Word in language
<% $dbh->selectrow_array("SELECT realname FROM languages WHERE tag=?", undef, $lang) %>
</font>
<hr />

% unless(defined($valid)) {

% $titlestr = "Editing Natural Language Word";

<%perl>

if( ! $meaning )
{
    $meaning = $dbh->selectrow_array("SELECT meaning FROM
    natlangwords where wordid=$wordid");
}
    
if( ! $notes )
{
    $notes = $dbh->selectrow_array("SELECT notes FROM natlangwords
    where wordid=$wordid");
}

 my($realword,$realmeaning);
 if(defined $word) {
   $word =~ s/^\s+//g;
   $word =~ s/\s+$//g;
   $realword = $word;
   $word =~ s/(")/sprintf("&#%i;",ord($1))/ge;
 }
 if(defined $meaning) {
   $meaning =~ s/^\s+//g;
   $meaning =~ s/\s+$//g;
   $realmeaning = $meaning;
   $meaning =~ s/(")/sprintf("&#%i;",ord($1))/ge;
 }
</%perl>

<p><strong>Important:</strong> Make sure you understand what sort of
data should be fed into this by reading the help section on <a
href="../help/natlangwords.html">natural language
words</a>.</p>

<form method="post" action="edit.html">
<table>
 <tr>
  <td>Word Or Phrase</td>
  <td><% $word %></td>
 </tr>
 <tr>
  <td>In The Sense Of</td>
  <td><input size="100" name="meaning" value="<% $meaning %>"></td>
 </tr>
 <tr>
  <td>Notes</td>
  <td><input size="100" name="notes" value="<% $notes %>"></td>
  <td>May include links to lojban valsi using {}.</td>
 </tr>
 <tr>
  <td>
   <input type="hidden" name="lang" value="<% $lang %>">
   <input type="hidden" name="wordid" value="<% $wordid %>">
   <input type="hidden" name="valid" value="yes">
  </td>
  <td><input type="submit"></td>
 </tr>
</table>
</form>

% } else {

% $titlestr = "Storing new natural language word";

<p>Here we go...</p>

<%perl>
my $ok = 1;
my $langid = $dbh->selectrow_array("SELECT langid FROM languages WHERE
tag=?", undef, $lang);
my $query = $dbh->prepare("SELECT * FROM natlangwords WHERE word=? AND
langid=$langid");
$query->execute($word);
$meaning =~ s/^\s+//g;
$meaning =~ s/\s+$//g;
while (defined(my $row = $query->fetchrow_hashref) && $ok )
{
    if( (length($meaning) == 0) )
    {
</%perl>
<h2>Please Read!</h2>

<p>This word is already defined, but you are trying to add a definition
with a default meaning (i.e. you put nothing in the "in the sense of"
box).</p>

<p>The problem here is that the existence of a default meaning implies
that no differentiation from that meaning is reasonable.  Since another
definition exists, this is patently false. </p>

<p>Please go look at <a href="<% $lang %>/<% $word %>">other
definitions for this word</a>, and see if any of them work for you.</p>

<p>If not, you're just going to have to go back and narrow the sense of
the word.</p>
<%perl>
    $ok = 0;
  } elsif ( ($row->{'wordid'} != $wordid) && $row->{'meaning'} eq $meaning )
  {
    $m->out("<p>Another copy of this word already exists with that meaning...</p>");
    $ok = 0;
  }
}


if($ok) {

    # Get the old info
    my $oldmeaning = $dbh->selectrow_array("SELECT meaning FROM
	natlangwords WHERE wordid = ?", undef, $wordid);
    my $oldnotes = $dbh->selectrow_array("SELECT notes FROM
	natlangwords WHERE wordid = ?", undef, $wordid);

    if(length($meaning)) {
	$dbh->do("UPDATE natlangwords SET meaning=?, notes=? WHERE wordid=?",
	    undef, $meaning, $notes, $wordid);
    } else {
	$dbh->do("UPDATE natlangwords SET meaning=null, notes=? WHERE wordid=?",
	    undef, $notes, $wordid);
    }

    # Send e-mail to the word creator(s)
    my @email;
    push @email, $dbh->selectrow_array("SELECT u.email FROM
	natlangwords nlw, users u WHERE nlw.userid = u.userid AND
	nlw.word=? AND nlw.langid = ?", undef, $word, $langid );

    # Get language info
    my $langtag = $dbh->selectrow_array("SELECT tag FROM languages WHERE
	langid = ?", undef, $langid);
    my $langname = $dbh->selectrow_array("SELECT realname FROM languages WHERE
	langid = ?", undef, $langid);

    @email = keys %{{ map { $_ => 1 } @email }};

    my $email = join( ' ', @email );

    utils::sendemail( $email, "Edited NatLang Word $word", "

In jbovlaste, the user $session{'username'} has edited the natural
language word $word in the language $langname:

Old Content:

    In Sense: $oldmeaning

    Notes:    $oldnotes

New Content:

    In Sense: $meaning

    Notes:    $notes

You can go to <http://jbovlaste.lojban.org/natlang/$langtag/$word> to see it.
", $session{'username'} );

}

</%perl>

% if ($ok) {

    <p>No errors? Excellent.</p>

<p>Go to <a href="<% $lang %>/<% utils::armorurl($word) %>">the page for the word you edited</a>.</p>

% } else {

<p>We were unable to add the new word.</p>

% }

% }
