% unless(defined($request_type)) {

<font size="+3">
Writing A Moderation Request
</font>

<hr />

<form method="post" action="moderation.html">
<%perl>
# reCaptcha Output form
# Public key
    print $c->get_html( '6Lf1RwAAAAAAANZIsJS0Ra-ycdARlCNMTzOkkC-v' );
</%perl>

 <table>
  <tr>
   <td>Request Type</td>
   <td>
	<select name="request_type">  
	<option value="New Account Request">New Account Request
	<option value="valsi Change">valsi Change
	<option value="valsi Deletion">valsi Deletion
	<option value="Natlang Word Change">Natlang Word Change
	<option value="Natlang Word Deletion">Natlang Word Deletion
	<option value="Definition Change">Definition Change
	<option value="Definition Deletion">Definition Deletion
	<option value="Other">Other
	</select>
   </td>
  </tr>
  <tr>
   <td>Details</td>
   <td>
    <textarea rows="4" cols="60" name="details"></textarea>
   </td>
  </tr>
  </tr>
   <td><input type="submit"></td>
  </tr>
 </table>
</form>

<%perl>
# Check the form results (both of them)
} else {

    # Verify submission
    my $result = $c->check_answer(
    # Private key
        '6Lf1RwAAAAAAAP6IcWCSHjdtZ5yh1y2muHE7f1Zy', $ENV{'REMOTE_ADDR'},
        $recaptcha_challenge_field, $recaptcha_response_field
    );

    if ( $result->{is_valid} ) {
</%perl>
	<font size="+3">
	Thank you for submitting your request.
	</font>
<%perl>

my $recipient = $m->base_comp->attr('admin_email');

#Now send mail to $recipient
utils::sendemail( $recipient, "jbovlaste Moderation Request", "
-----------------------------

Request Type: $request_type

Remote IP address: $ENV{'REMOTE_ADDR'}

Details: $details

" );


    } else {
</%perl>
	<font size="+3">
	Captcha failed.
	<% $recaptcha_challenge_field %>,
	<% $recaptcha_response_field %>
	</font>
<%perl>
	
    }
}
</%perl>

<%method title>
Sending A Moderation Request
</%method>


<%init>
  our($dbh,%session);
  use utils;
  use Unicode::String;
  $r->content_type("text/html; charset=utf-8");

  use Captcha::reCAPTCHA;

  my $c = Captcha::reCAPTCHA->new;
</%init>

<%args>
$request_type => undef
$details => undef
$recaptcha_challenge_field => undef
$recaptcha_response_field => undef
</%args>
