% my $usersquery = $dbh->prepare("SELECT username, realname FROM users ORDER BY userid DESC");
% $usersquery->execute;

<font size="+3">jbovlaste user list</font>
<hr />

<ul>
%   while(defined(my $userrow=$usersquery->fetchrow_hashref)) {
  <li><% $userrow->{'realname'} %> (<a href="<% $userrow->{'username'} %>"><code><% $userrow->{'username'} %></code></a>)</li>
%   }
</ul>

<%init>
 our($dbh,%session);
 $r->content_type("text/html; charset=utf-8");
</%init>

<%method title>
User Listing
</%method>
