<%args>
$glossmax => undef
$placemax => undef
$valsiword => undef
$type => undef
$valsiid => undef
$langid => undef
$definitiontxt => undef
$notes => undef
$valsitxt => undef
$langtag => undef
$selmaho => undef
$final => undef
</%args>

<%shared>
our $titlestr;
our $notready = 0;
</%shared>

<%method title>
Adding definition: <% $titlestr %>
</%method>

<%init>
our($dbh,%session);
use utils;
use Unicode::String;
use String::Approx 'amatch';
$r->content_type("text/html; charset=utf-8");
my $editbitsret;
</%init>

<%perl>
#print "<pre>".Dumper(\%ARGS)."</pre>";
#print "<pre>v: $valsiid, $valsiword, $langid, $type.\n</pre>";

#print "<pre>add: $glossadd, $glossmax, $placeadd, $placemax.\n</pre>";
# Either the user got here through addvalsi, in which case
# valsiword will be set, or they got here through dict/dhandler,
# and/or editdef.html, in which case valsiid will be set.

my($langrealname);

if( defined( $valsiid ))
{
    my @initialresult = $dbh->selectrow_array("SELECT (SELECT word FROM
	    valsi WHERE valsiid=?), realname, tag FROM languages WHERE langid=?",
	undef, $valsiid, $langid);
    ($valsiword,$langrealname,$langtag) = @initialresult;
} elsif( defined( $valsiword )) {
    my @initialresult = $dbh->selectrow_array("SELECT
	realname, tag FROM languages WHERE langid=?",
	undef, $langid);

    ($langrealname,$langtag) = @initialresult;
} else {
    $m->out("Sorry, couldn't find either the valsi ID you requested, or something else went wrong.");
    return;
}
</%perl>

<%doc>
editbits does all the actual work, and returns 0 if more work is
needed, 1 if we're readt to save, and undef on error.
</%doc>

<%perl>
$titlestr = sprintf('Adding definition for "%s" in language "%s"',
    $valsiword, $langrealname);

if( ! $final )
{
    </%perl>
    <font size="+3">Adding definition for "<% $valsiword %>" in language "<% $langrealname %>"</font>

    <hr />
    <%perl>
}

$editbitsret = $m->comp( 'editbits', %ARGS,
    actionPage => 'adddef.html' );

if( $editbitsret )
{

    my $langrealnamequery = $dbh->prepare("SELECT * FROM languages WHERE tag=?");
    $langrealnamequery->execute($langtag);
    my $langrealnameresult = $langrealnamequery->fetchrow_hashref;
    $titlestr = sprintf('Processing new definition for "%s" in language "%s"',
	$valsitxt, $langrealnameresult->{'realname'});

    my @bytes = unpack("C*", $langrealnameresult->{'realname'});
    </%perl>

    <font size="+3">Processing new definition for "<% $valsitxt %>" in
    language "<% pack("C*",@bytes) %>"</font>
    <hr />

    <%perl>

    # Deal with the natural language words.
    my @nlwrets = $m->comp( 'nlwbits', %ARGS );

    #print "<pre>".Dumper(\@nlwrets)."</pre>";

    my @glosskeywords = @{ $nlwrets[0] };
    my @placekeywords = @{ $nlwrets[1] };

    #print "<pre>".Dumper(\@glosskeywords)."</pre>";
    #print "<pre>".Dumper(\@placekeywords)."</pre>";

    # If the valsi hasn't been created yet
    if( ! defined( $valsiid ))
    {
	</%perl>
	<p>Ok, I'm adding the word to the database.</p>

	<%perl>
	$dbh->do("INSERT INTO valsi (word, typeid, userid, time)
	    VALUES (?, (SELECT typeid FROM valsitypes WHERE descriptor=?), ?, ?)",
	    {}, $valsiword, $type, $session{'userid'}, time()) or $dbh->errstr;


	# Get the valsiid of the word we just created
	$valsiid = $dbh->selectrow_array("SELECT valsiid FROM valsi WHERE word=?", undef, $valsiword);
    }

    my @seqvalueresult =
    $dbh->selectrow_array("SELECT nextval('definitions_definitionid_seq')") or die $dbh->errstr;

    my @curDefNum = $dbh->selectrow_array("SELECT max(definitionNum)
	FROM definitions WHERE langid=$langid AND valsiid=$valsiid"
    ) or die $dbh->errstr;

    my $nextDefNum = $curDefNum[0] + 1;

    $dbh->do("INSERT INTO definitions ".
	"(definitionid, langid, valsiid, definitionNum, definition,
	    selmaho, notes, userid, time) ".
	"VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)", undef, $seqvalueresult[0],
	$langid, $valsiid, $nextDefNum, $definitiontxt, $selmaho,
	$notes, $session{'userid'}, time()) or die $dbh->errstr;

    for(my $i=0; $i<=$#glosskeywords; $i++) {
	next unless (defined $glosskeywords[$i] && $glosskeywords[$i]->[0]);
	my @tmp = @{ $glosskeywords[$i] };
	my $meaning = $tmp[1] ? $tmp[1] : undef;
	$dbh->do('INSERT INTO keywordmapping (definitionid, place, natlangwordid) '.
	    'VALUES (?, 0, (SELECT wordid FROM natlangwords '.
		    'WHERE langid=?::integer AND word=?::text AND '.
		    '(meaning=?::text OR (?::text IS NULL AND meaning IS NULL))))',
	    undef, $seqvalueresult[0], $langid, $tmp[0], $meaning,
	    $meaning ) or die $dbh->errstr;
    }

    for(my $i=0; $i<=$#placekeywords; $i++) {
	next unless (defined $placekeywords[$i] && $placekeywords[$i]->[0]);
	my @tmp = @{ $placekeywords[$i] };
	my $meaning = $tmp[1] ? $tmp[1] : undef;
	$dbh->do('INSERT INTO keywordmapping (definitionid, place, natlangwordid) '.
	    'VALUES (?, ?, (SELECT wordid FROM natlangwords '.
		    'WHERE langid=?::integer AND word=?::text AND '.
		    '(meaning=?::text OR (?::text IS NULL AND meaning IS NULL))))',
	    undef, $seqvalueresult[0], $i+1, $langid, $tmp[0],
	    $meaning, $meaning ) or die $dbh->errstr;
    }

    $dbh->do("DELETE FROM definitionvotes
	WHERE valsiid=? and langid=? and userid=?",
	undef,
	$valsiid, $langid, $session{'userid'}) or die $dbh->errstr;

    $dbh->do("INSERT INTO definitionvotes
	(valsiid, langid, definitionid, value, userid, time)
	VALUES (?, ?, ?, (SELECT votesize FROM users WHERE userid=?), ?,
	    ?)",
	undef,
	$valsiid, $langid, $seqvalueresult[0], $session{'userid'},
	$session{'userid'}, time()) or die $dbh->errstr;

    # Deal with the voting
    $m->comp( 'votebits', %ARGS, definition => $seqvalueresult[0] );

    $dbh->commit or die $dbh->errstr;

    # Send e-mail to the valsi creator, and all definition creators for that valsi
    my @email;
    push @email, $dbh->selectrow_array("SELECT u.email FROM
	valsi v, users u WHERE v.userid = u.userid AND
	v.valsiid=$valsiid");

    my $emailquery = $dbh->prepare( "SELECT u.email FROM definitions d, users u
	WHERE d.userid = u.userid AND d.valsiid=? AND d.langid=?" );

    $emailquery->execute($valsiid, $langid);
    while( defined(my $emailrow=$emailquery->fetchrow_hashref) )
    {
	push @email, $emailrow->{'email'};
    }

    @email = keys %{{ map { $_ => 1 } @email }};

    my $email = join( ' ', @email );

    #print "e: $email, $valsiid.\n";

    utils::sendemail( $email, "Definition Added At Word $valsiword", "

In jbovlaste, the user $session{'username'} has added the following
definition to $valsiword:

	$definitiontxt

(not all definition information shown above)

You can go to <http://jbovlaste.lojban.org/dict/$valsiword> to see it.
" );


    # Update valsibestguesses
    my $jbovlastedir = $m->base_comp->attr('jbovlaste_dir');
    system( "$jbovlastedir/bin/updatevbg $jbovlastedir $langid $valsiid $session{'userid'} $seqvalueresult[0] \&" );
    </%perl>

    <p>If you're seeing this, it probably worked. Please go to
    <a href="<% $valsitxt %>">the definition you added</a> and check
    on things.  Also <strong>make sure to click on and vote for all the
    natural language words</strong>.  A vote for you on the definition you
    just added has already been recorded.</p>

    <%perl>
}
</%perl>
