% unless(defined($valsi)) {
I can't very well add a valsi if you don't tell me what to add!
%   return;
% }

% unless(defined($session{'username'})) {
I'm not going to let you add a valsi unless you log in.
%   return;
% }

% utf8::decode($valsi);
% $valsi =~ s/^\s+|\s+$//g;

% unless(defined($confirm)) {
<font size="+3">Adding valsi "<% $valsi %>"</font>
<hr />

<%shared>
our $valsi;
</%shared>

<%init>
 use utf8;
 $r->content_type("text/html; charset=utf-8");
 our($dbh,%session);
 sub produce_verifier {
   my $valsi = shift;
   my $verifier = md5_hex(pack("f*",map { ord } (split//, $valsi)));
   return $verifier;
 }
</%init>

<%args>
$valsi => undef
$confirm => undef
</%args>

<%method title>
Adding valsi <% $valsi %>
</%method>

<%perl>

my @result = $dbh->selectrow_array("SELECT word FROM valsi WHERE replace(word, ' ', '')=?",{},$valsi);

   if (! $result[0]) {

use Digest::MD5 qw(md5_hex);
my $typestr = utils::vlatai($valsi);
my $verifier = &produce_verifier($valsi.$typestr);
</%perl>

% if($typestr eq "nalvla") {
<p>Sorry, that isn't actually a word in Lojban.</p>
%   return;
% }
% elsif ($typestr eq "valslinku'i") {
<p>That is a "<a href="http://www.lojban.org/tiki/slinku'i">slinku'i</a>" and is not allowed.</p>
%   return;
% }
% elsif ($typestr eq "valrtosmabru") {
<p>That is a "<a href="http://www.lojban.org/tiki/tosmabru">tosmabru</a>" and is not allowed.</p>
%   return;
% }

<p>So. You want to add a valsi to the database.</p>

<p>This shouldn't be done lightly. Please check the following:</p>
<ol>
  <li>If it is a lujvo, make sure you're using the lowest scoring form
      of the lujvo. You're not going to get anywhere by using a different
      form, as the database is periodically swept for noncanonical form
      lujvo, and they are modified to the appropriate canonical form. (Or
      removed, and all related data pointed towards the canonical version,
      if it already exists.)</li>
  <li>Also ensure that you're adding the word you actually intend to add,
      and not something odd.</li>
</ol>

<p>I've automatically checked the valsi myself, and have decided
that it is of type: <font size="+2"><b><% $typestr %></b></font>. If this is correct, and
you are very sure that you want to add this word, pick a language and then hit
the button below:</p>

<form method="post" action="adddef.html">
 <input type="hidden" name="valsiword" value="<% $valsi %>">
 <input type="hidden" name="type" value="<% $typestr %>">
 <input type="hidden" name="confirm" value="<% $verifier %>">
Initial Definition In: 
 <select name="langid">
<%perl>
  my $langquery =
    $dbh->prepare("SELECT langid,realname,tag FROM languages ".
                         "WHERE langid>0 ORDER BY realname");
  $langquery->execute;
  while(defined(my $langrow=$langquery->fetchrow_hashref)) {
    my $selected="";
    if($langrow->{'tag'} eq 'en') {
       $selected = "selected ";
    }
</%perl>
    <option <% $selected %>value="<%$langrow->{'langid'}%>"><% $langrow->{'realname'} %></option><%perl>
 }
</%perl>
 </select>
 <input type="submit">
</form>

<%perl>
   } else {
       $m->redirect( $result[0] );
   }

 } else {

   my $typestr = utils::vlatai($valsi);
   unless(produce_verifier($valsi.$typestr) eq $confirm) {
</%perl>

<p>
Uhoh. You're really trying to get sneaky on me. We can't have that.
</p>
<p>
Convinently (for me, anyways), to even get to this point, you would've
had to provide a cookie. Since they're rather well encrypted, I know
you didn't send me a fake one, <% $session{'username'} %>. I'm afraid
Robin is going to have to have a very, very long talk with you.
</p>

%      return;
%   }

It should no longer be possible to get here.  If you got here,
please mail lojban@lojban.org with how you did it.

% }
