% unless(defined($session{'username'})) {
You ought not have been able to view this page, as you aren't logged in!
%    return;
% }

% unless(defined($etymology)) {
You'll need to specify a valsi to add etymological data. How about you go to
the right page and follow the link instead of playing around?
%   return;
% }

<%method title>
Editing etymology
</%method>

% unless(defined($content)) {

<%perl>
 my $etymologyquery = $dbh->prepare("SELECT * FROM convenientetymology WHERE etymologyid=?");
 $etymologyquery->execute( $etymology );
 my $etymologyrow = $etymologyquery->fetchrow_hashref;
</%perl>

<font size="+3">
 Editing <% $etymologyrow->{'realname'} %> etymology for valsi "<% $etymologyrow->{'word'} %>".
</font><br />
Etymology ID: <% $etymologyrow->{'etymologyid'} %>
<hr />

%  if(defined($etymologyrow)) {

<form method="post" action="editetymology.html">
<table><tr>
 <td valign="top">Etymology</td>
 <td><textarea rows="6" cols="60" name="content"><% $etymologyrow->{'content'} %></textarea></td>
</tr><tr>
 <td><input type="hidden" name="word" value="<% $etymologyrow->{'word'} %>">
     <input type="hidden" name="etymology" value="<% $etymology %>"></td>
 <td><input type="submit" value="Submit"></td>
</tr></table>
</form>

%   } else {

<p>The etymological record you requested to edit doesn't exist. Sorry.</p>

%   }

% } else {

<font size="+3">Updating etymology record for "<% $word %>".</font>
<hr />

<%perl>
my $langid = $dbh->selectrow_array("SELECT langid FROM etymology WHERE
        etymologyid = ?", undef, $etymology);
my $valsiid = $dbh->selectrow_array("SELECT valsiid FROM etymology WHERE
        etymologyid = ?", undef, $etymology);

# Send e-mail to the valsi creator, and all definition creators for that valsi
my @email;
push @email, $dbh->selectrow_array("SELECT u.email FROM
        valsi v, users u WHERE v.userid = u.userid AND
        v.valsiid=$valsiid");

# And the etymology creator(s) too!
push @email, $dbh->selectrow_array("SELECT u.email FROM
        etymology e, users u WHERE e.userid = u.userid AND
        e.valsiid=$valsiid");

my $emailquery = $dbh->prepare( "SELECT u.email FROM definitions d, users u
	WHERE d.userid = u.userid AND d.valsiid=? AND d.langid=?" );

$emailquery->execute($valsiid, $langid);
while( defined(my $emailrow=$emailquery->fetchrow_hashref) )
{
    push @email, $emailrow->{'email'};
}

@email = keys %{{ map { $_ => 1 } @email }};

my $email = join( ' ', @email );

#print "e: $email, $valsiid.\n";

my $oldcontent = $dbh->selectrow_array("SELECT content FROM etymology WHERE
        etymologyid = ?", undef, $etymology);

utils::sendemail( $email, "Etymology Edited At Word $word", "

In jbovlaste, the user $session{'username'} has edit the following
etymology at $word:

Old Content:

$oldcontent

New Content:

$content

You can go to <http://jbovlaste.lojban.org/dict/$word> to see it.
", $session{'username'} );

$dbh->do("UPDATE etymology SET content=?, time=? WHERE etymologyid=?", { },
         $content, time(), $etymology);
</%perl>

<p>Done.</p>

<p>Return to <a href="<% $word %>">where you were</a>.</p>

% }

<%init>
 our($dbh,%session);
</%init>

<%args>
$etymology => undef
$content => undef
$word => undef
</%args>
